#txtFolConstaImpli
{
    text-transform: uppercase;
}

.cajaeditable
{
	font-family: Lucida Sans Unicode;
	font-size:14px;
	font-weight: bold;
	border:1px solid #12AFED;
	border-radius: 3px;
    float:none;
    text-align: right;
    text-transform: uppercase;
}

#informaciontabla {
	text-transform: uppercase;
	text-align: right;
    padding-right: 10px;
    margin: 15px;
}

#textoprincipal {
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: white;
    FONT-STYLE: normal;
    FONT-FAMILY: 'arial';
    HEIGHT: 15px;
    background: #5a9ecf;
    margin: 10px
}

#barraprincipal {
    background: #5a9ecf;

}

#tipocreden {
    text-align: center;
}


/*.formulario {*/
#divContIne{
    display: none;
}

.botones {
    text-align: center;
}

.dtINE, .dtIFE{
    display: none;
}


a {
  position: absolute;
  color:black;
   z-index:1;
}

.imgn {
  position: absolute;
  top: 100%;
  right:50%;
  display: none;
  width:500px;
  z-index: 999 !important;
}

.imgni {
  position: absolute;
  top: 100%;
  left:50%;
  display: none;
  width:500px;
}


a:hover .imgn {
  display: block;
}

a:hover .imgni {
  display: block;
}

#iimmgg
{
	 font-weight: bold;
}

/*----Modal---- */
.divDialogo
{
	z-index: 99999;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	border: #CCC 2px solid;
	background: none repeat scroll 0% 0% rgba(170, 170, 170, 0.8);
	color: #000000;
	border-radius: 5px;
	display:none;
}
.divDialogo>div
{
	width: 98%;
	position: relative;
	margin: 10% auto;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #A6C9E2;
	background: rgb(255, 255,255);
	overflow: auto;
}
.divContentDlg
{
	font-weight: bold;
	font-size: 16px;
}
.botonDialogo
{
	width: 100%;
	height: 100%;
}
.divDialogo:target {
    opacity:1;
    pointer-events: auto;
}
.tituloDialogo
{
	width: 94%;
	height: 5%;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	background-color: #5A9ECF;
	color: rgb(255, 255,255);
	border-radius: 3px;
}
.btndlg-cerrar
{
	color: #FFF;
	background-color: #C9302C;
	border-color: #D43F3A;
	border-radius: 3px;
}
.btndlg-cerrar:hover
{
	color: #FFF;
	background-color: #C9302C;
	border-color: #AC2925;
}
.BtnModal
{
	display: inline-block;
    padding: 2px 8px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	 color: #FFF;
    background-color: #337AB7;
    border-color: #2E6DA4;
}

.imgSigno
{
    width: 25px;
    height: 25px;
    white-space: nowrap;
    vertical-align: middle;
    z-index: 1 !important;
}
#mensajeE
{
    margin-left: 37%;
    color: #a94442;
    font-size: 79%;
    margin-bottom: -10%;
}